@use "functions";

$primary-color: #f8f5f0;
$secondary-color: #ffffff;
$secondary-color-80: linear-gradient(-45deg, rgba(252, 253, 253, 0.4431372549) 0%, rgba(252, 253, 253, 0.4745098039) 100%);

$text-color: #1f392c;

$major-pink: #ff60e6;
$minor-pink: #ffadf2;